@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --playback-percentage: 0%
}

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    background-color: inherit;
}